<nav class="nav">
	<ul class="navlist">
		<li>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/contact-me">Contact Me</a>
			<a href="/blogs/create">Create Blog</a>
		</li>
	</ul>
</nav>
