<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<h1 class="title">Index Page</h1>

	<h2>This is my home page</h2>
	<p>I will put words here</p>
</body>
<%- include('./partials/foot.ejs') %>
