<%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<div class="wrapper">
		<section class="main">
			<section class="main__text">
				<h1 class="main__title">Home!</h1>
				<h2>This is my home page</h2>
				<p>I will put words here, eventually...</p>
			</section>
		</section>
	</div>
</body>
<%- include('./partials/foot.ejs') %>
